<!DOCTYPE html>
  <html>
  <head>
  <title>Stackoverflow</title>
  </head>

	<body>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <button type="submit" routerLink='/menu'>Login</button>
            <label>
              <input type="checkbox" name="remember"> Remember me
            </label>
            <br>
            <a [routerLink]="['/Forgot Password']" class="btn btn-lg btn-light">ForgotPassword</a>
          </div>
          
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
          </div>
        
  </body>
  </html>