<div class="container">
    <h1>Tags</h1>
    <div class="row mt-3">
      <div class="col-3">
        <div class="card p-3 mt-3">
          <a routerLink="/html">html </a>
  
          <p>
            For questions regarding programming in ECMAScript (JavaScript/JS) and
            its various dialects/implementations (excluding ActionScript). Please
            include
          </p>
        </div>
      </div>
      <div class="col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class="col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class="col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class=" col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
  
      <div class="col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class="col-3">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class=" col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class=" col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class=" col-3 ">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class="col-3">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
      <div class="col-3">
        <div class="card p-3 mt-3">
        <a routerLink="/html">html </a>
        <p>
          For questions regarding programming in ECMAScript (JavaScript/JS) and
          its various dialects/implementations (excluding ActionScript). Please
          include
        </p>
        </div>
      </div>
    </div>
  </div>
  
