
<form action="/action_page.php">
    <div class="container">
      <h1 style="text-align: center;">signup</h1>
      
      <hr>
      <label for="email"><b>Email</b></label>
      <input style="margin-left: 10%;" type="text" placeholder="Enter Email" name="email"(change)="clickEmail($event)"id="email" required><br>
  
      <label for="psw"><b>Password</b></label>
      <input style="margin-left: 7%;" type="password" placeholder="Enter Password" name="psw"(change)="clickPassword($event)"id="psw" required><br>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input style="margin-left: 2%;" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required><br>
  
      <p style="text-align: center;">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  
      <button type="submit" class="registerbtn" [routerLink]="['/login']">signup</button>
    </div>
    
      <p style="text-align: center;">Already have an account? <a href="#" [routerLink]="['/login']">Sign in</a>.</p>
    
  </form>